html,
body {
  width: 100%;
  height: 100%;
}
:host,
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  line-height: inherit;
}
*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
  cursor: pointer;
}
button,
select {
  text-transform: none;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  border: none;
}
