:root {
  --primary-color: rgb(31 41 55);
  --hover-primary-color: rgb(29 78 216);
  --text-primary-color: rgb(156 163 175);
  --hover-text-primary-color: rgb(255, 255, 255);
  --text-color: rgb(55 65 81);
  --placeholder-color: rgb(209, 213, 219);
  --primary-error-color: rgb(255, 255, 255);
  --hover-primary-error-color: rgb(255, 255, 255);
  --primary-error-background-color: rgb(160, 23, 23);
  --hover-primary-error-background-color: rgb(179, 30, 30);
  --box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05),
    0 1px 2px -1px rgba(0, 0, 0, 0.05);
  --shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.15),
    0 1px 2px -1px rgba(0, 0, 0, 0.15);
}
