:root {
  --color-dark-blue: rgb(31, 41, 55);
  --color-light-gray: rgb(169, 174, 182);
  --color-white: rgb(255, 255, 255);
  --color-medium-gray: rgb(78, 86, 101);
  --color-placeholder: rgb(150, 153, 158);
  --color-dark-red: rgb(145, 14, 14);
  --color-light-red: rgb(165, 20, 20);
  --color-lighter-gray: rgb(245, 245, 245);
  --color-dark-hover: rgb(39, 49, 66);
  --color-button-hover: rgb(49, 59, 89);
  --color-green: rgb(28, 117, 55);
  --color-light-green: rgb(56, 221, 130);

  --primary-color: var(--color-dark-blue);
  --hover-primary-color: var(--color-dark-hover);
  --text-primary-color: var(--color-light-gray);
  --hover-text-primary-color: var(--color-white);
  --text-color: var(--color-medium-gray);
  --placeholder-color: var(--color-placeholder);
  --primary-error-color: var(--color-white);
  --hover-primary-error-color: var(--color-white);
  --primary-error-background-color: var(--color-dark-red);
  --hover-primary-error-background-color: var(--color-light-red);
  --primary-success-color: var(--color-white);
  --hover-primary-success-color: var(--color-white);
  --primary-success-background-color: var(--color-green);
  --hover-primary-success-background-color: var(--color-light-green);
  --card-background-color: var(--color-white);
  --card-color: var(--color-dark-blue);
  --lowlight-color: var(--color-placeholder);
  --table-header-background-color: var(--primary-color);
  --table-header-text-color: var(--hover-text-primary-color);
  --table-even-row-background-color: var(--color-lighter-gray);
  --table-odd-row-background-color: var(--color-white);
  --button-background-color: var(--hover-primary-color);
  --button-hover-background-color: var(--color-button-hover);
  --button-text-color: var(--hover-text-primary-color);
  --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
