.overview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0.5em 0;
}


.bank-accounts-card {
  flex-basis: 25em;
  flex-shrink: 0;
}

.budgets {
  flex-basis: 25em;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .overview-container {
    display: block;
  }
  
  .bank-accounts-card, .budgets {
    margin: 0.5em 0;
    flex-basis: 100%;
  }
}
